{% extends 'base.html.twig' %}

{% block body %}

    <h1>Firma del pdf</h1>

    {% for image in images %}
        <ul>
            <li>Width: {{ image.width }}</li>
            <li>Height: {{ image.height }}</li>
            <li>Image path: {{ image.image }}</li>

        </ul>
        <hr/>
    {% endfor %}

    <a href="{{ path('sign') }}">Firmar el pdf TEST</a>
{% endblock %}
