{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Generar</button>
    {{ form_end(form) }}

    {#<h1>Firma del pdf</h1>#}

    {#{% for image in images %}#}
    {#<ul>#}
    {#<li>Width: {{ image.width }}</li>#}
    {#<li>Height: {{ image.height }}</li>#}
    {#<li>Image path: {{ image.image }}</li>#}

    {#</ul>#}
    {#<hr/>#}
    {#{% endfor %}#}

    {#<a href="{{ path('sign') }}">Firmar el pdf TEST</a>#}
{% endblock %}
