{% extends 'base.html.twig' %}

{% block body %}

    <h1>Datos de las imagenes obtenidas del pdf</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Firmar</button>
    {{ form_end(form) }}
{% endblock %}
